__pycache__/
FaithDiff/__pycache__/
FaithDiff/pipelines/__pycache__/
FaithDiff/models/__pycache__/
llava/__pycache__/
utils/__pycache__/
*.py[cod]
/outputs/
/input/
checkpoints/
/.vs
.vscode/
.idea/
venv/
.venv/
*.log
.DS_Store
